<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%=title %></title>

    <!-- CSS -->
    <link href="/admin/css/common.css" rel="stylesheet">
    <!-- <link href="/admin/css/index.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/simditor-2.2.3/styles/simditor.css" /> -->
    <!--[if lt IE 9]>
        <script src="/public/libs/admin/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <%-body %>
</body>
</html>