<footer class="foot">
    <div class="wrap">
        <ul class="list">
            <li class="first">
                <h2>友情链接</h2>
                <ul class="left">
                    <li>UED-官网</li>
                    <li>建行-商城</li>
                    <li>工行-商城</li>
                    <li>农行-商城</li>
                </ul>
                <ul class="right">
                    <li>卡乐付-火车票</li>
                    <li>南昌-商城</li>
                    <li>交行-商城</li>
                </ul>
            </li>
            <li class="first">
                <h2>前端工具</h2>
                <ul class="left">
                    <li>命名向导</li>
                    <li>命名向导</li>
                    <li>客户端模拟</li>
                    <li>页面规范检测</li>
                    <li>页面压缩</li>
                </ul>
                <ul class="right">
                    <li>页面优化</li>
                    <li>测试服务器</li>
                </ul>
            </li>
            <li class="first">
                <h2 class="text-center">微信公众号</h2>
                <img src="../../web/img/weixin.jpg">
            </li>
            <li class="first">
                <h2 class="text-center">官方微博</h2>
                <img src="../../web/img/sina.jpg">
            </li>
        </ul>
    </div>
</footer>