<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%=title%>
    </title>
    <link href="../../web/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="../../libs/editor.md/css/editormd.preview.css">
</head>

<body>
    <% include common/header %>

    <section class="wrap">
        <nav class="navigation">
        <span>您当前的位置：</span><span>分享云</span><span>&gt;</span><span>实验室</span>
        </nav>
    </section>

    <section class="wrap content plugin" id="plugins_page">
       <!--  <ul class="menu">
           <li class="active"><a href="#">hp公共库</a></li>
           <li><a href="#">表单验证</a></li>
           <li><a href="#">拉动加载</a></li>
           <li><a href="#">日期选择</a></li>
           <li><a href="#">城市选择</a></li>
           <li><a href="#">图片切换</a></li>
       </ul> -->

         <!-- <div class="right-content">
            <div class="top">
                <div class="left">
                    <img src="../images/photo.jpg">
                </div>
                <div class="right">
                    <h2 class="title">Think Aloud - 适合设计师的可用性方法</h2>
                    <p class="tag">作者：丫蛋儿  |  时间：2014-04-08 15：55</p>
                </div>
            </div>
           <div class="content-box">
               <img src="../images/plugin.jpg" alt="">
               <img src="../images/plugin-1.jpg" alt="">
               <img src="../images/plugin-2.jpg" alt="">
               <img src="../images/plugin-3.jpg" alt="">
           </div>
            <div class="pager detail-pager">
                <span>上一篇：<a href="#">css动画</a></span>
                <span>|</span>
                <span>下一篇：<a href="#">前端路上的旅行</a></span>
            </div>
           <div class="comment">
               <p class="total">全部评论（<span>41</span>）</p>
               <ul class="comment-list">
                   <li class="first">
                       <div class="left">
                           <img src="../images/user.jpg">
                       </div>
                       <div class="right">
                           <p class="name">胖子</p>
                           <p class="comment-content">顶顶顶顶</p>
                           <p><span class="time">2015-12-12 12:20:15</span><span class="replay"><i class="ico ico-replay"></i>回复</span></p>
                       </div>
                   </li>
                   <li class="first">
                       <div class="left">
                           <img src="../images/user.jpg">
                       </div>
                       <div class="right">
                           <p class="name">胖子</p>
                           <p class="comment-content">顶顶顶顶</p>
                           <p><span class="time">2015-12-12 12:20:15</span><span class="replay"><i class="ico ico-replay"></i>回复</span></p>
                           <ul class="sec-comment-list">
                               <li class="first">
                                   <div class="left">
                                       <img src="../images/user.jpg">
                                   </div>
                                   <div class="right">
                                       <p class="name">胖子</p>
                                       <p class="comment-content">顶顶顶顶</p>
                                       <p><span class="time">2015-12-12 12:20:15</span><span class="replay"><i class="ico ico-replay"></i>回复</span></p>
                                   </div>
                               </li>
                               <li class="last">
                                   <div class="left">
                                       <img src="../images/user.jpg">
                                   </div>
                                   <div class="right">
                                       <p class="name">胖子</p>
                                       <p class="comment-content">顶顶顶顶</p>
                                       <p><span class="time">2015-12-12 12:20:15</span><span class="replay"><i class="ico ico-replay"></i>回复</span></p>
                                   </div>
                               </li>
                           </ul>
                       </div>
                   </li>
                   <li class="first">
                       <div class="left">
                           <img src="../images/user.jpg">
                       </div>
                       <div class="right">
                           <p class="name">胖子</p>
                           <p class="comment-content">顶顶顶顶</p>
                           <p><span class="time">2015-12-12 12:20:15</span><span class="replay"><i class="ico ico-replay"></i>回复</span></p>
                           <div class="replay-box">
                               <textarea class="replay-content"></textarea>
                               <button type="button" class="replay-btn">回复</button>
                           </div>
                       </div>
                   </li>
               </ul>
               <div class="publish-comment">
                       <div class="left">
                           <i class="ico ico-user"></i>
                       </div>
                       <div class="right">
                           <input type="text" class="nickname" placeholder="昵称（必填）">
                           <input type="text" class="email" placeholder="邮箱（必填）">
                           <input type="text" class="website" placeholder="站点">
                       </div>
                       <div class="left">
               
                       </div>
                       <div class="right">
                           <textarea class="publish-content" placeholder="吐个嘈呀~"></textarea>
                           <button class="publish-btn" type="button">发布</button>
                       </div>
               </div>
           </div>
                 </div> -->
    </section>





    <% include common/footer %>
    <script data-main="../../js/plugins/plugin" src="../../libs/requirejs/require.js"></script>
</body>

</html>